*{
    margin: 0 auto;
    
}
.bg{
    background-color: rgba(224, 248, 252, 0) !important;
}
h1{
    font-weight: 700 !important;
}
h2{
    font-size: 30px !important;
    font-weight: bold !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}
h3{
    font-size: 20px !important;
    font-weight: bold !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

.bg-color{
    background-color: rgb(123, 123, 123);
    padding: 0px 100px;
    border-radius: 5px;
}.btn{
    font-size: 35px !important;
}
.sub_btn{
    font-size: 20px !important;
    color: white !important;
    padding: 12px 35px !important;
}
.sub_btn:hover{
 background-color: rgb(225, 118, 12) !important;
   
}
.bill-img{
    height: 80px !important;
}
.card-container{
    width: 800px !important;
}